body{
	text-align:center;
	margin:auto;
	font-family:Arial;
	color:#FFB300;
}
h1{
	padding-top:30px;
	color: #000;
	font-family:monospace;
	font-size:2.4em;
}
hr{
	margin:30px 0 30px 0;
	padding:0px;
}
ul.portfolio{
	list-style-type:none;
	padding:20px 0;
	margin:auto;
}
li{
	margin:5px;
	width:409px;
	height:200px;
	text-decoration: none;
	display:inline-block;
	visibility: hidden;
	position: relative;
	overflow: hidden;
	transform: scale3d(1,1,1);
}
.appeared {
	visibility: visible;
	animation:appear .5s 1;
}

@keyframes appear {
	0% { transform: scale3d(0,0,0); }
	100% { transform: scale3d(1,1,1); }
}

li:hover a p {
	margin-top:-200px;
}
p.legend{
	margin:0;
	font-size:15px;
	text-align: justify;
	position:absolute;
	top:100%;
	height:100%;
	box-sizing: border-box;
	width:409px;
	padding:15px;
	background:rgba(20,20,20,.8);
	transition: margin 200ms ease;
}
p.legend strong {
	text-transform: uppercase;
	display: block;
}
a,p{
	color:#FFB300;
}
#log{
	padding:10px;
	color:black;
	text-align: left;
	width:70%;
	margin:auto;
}
#log ul, #log li{
	margin:0px;
	padding:0px;
}
#log li{
	margin-left:20px;
}
#sn{
	padding:40px 0;
}