*{margin:0; padding:0;}
img, fieldset{border:none;}
:focus{outline:none}
h1,h2,h3,h4 h5,h6{margin:0; padding:0;}
ul{ list-style:none}
body{ font-family:Arial, Helvetica, sans-serif; width:100%; background-image: url(../images/body-background-actu.png); background-repeat:no-repeat; background-position:center top; color:#000}
.wrapper{width:1001px; margin:0 auto;}
.clear { clear: both; }

.header{ float:left; width:100%; margin:7px 0 0 0; background:#008f97; min-width:1001px}
.slider{ float:left; width:100%; position:relative; z-index:10}
.slider .slide_img{ float:left; width:100%; height:427px; overflow:hidden}
.slider .slide_img img{ float:left}
.logo{ position:absolute; top:-7px; left:24%; z-index:999}

.nav{ position:absolute; bottom:10px; right:0; width:249px; background:url(../images/nav_bg.png) repeat 0 0; z-index:9999}
.nav > a{ display:none}
.nav li{ float:left; width:100%;  border-bottom: solid 1px #bcbcbc}
.nav li.last{ border:none}
.nav li a{ float:left; width:222px; font-weight:bold ;font-size:14px; line-height:15px; padding:10px 0 10px 27px; color:#000; text-decoration:none}
.nav li.active a{ color:#FFF;background:#008f97 url(../images/small_right_arrow.png) no-repeat 12px center}
.nav li a:hover{ color:#FFF;background:#008f97 url(../images/small_right_arrow.png) no-repeat 12px center}

.service_sec{float:left; width:100%; background:url(../images/services_bg.jpg) repeat-x 0 0; min-width:1001px; margin-top: 115px;}
.services{ float:left; width:102%; list-style:none; list-style:none }
.small_box{ float:left; text-align: center}
.small_box a:hover{ text-decoration: underline;}
.small_box a img{  margin:0 0 7px 0}
.small_box.gap0 a img{  margin:0 0 1px 0}
.services li{ float:left; width:139px; border-left:1px solid #c8c8c8; }
.services li.Entreprendre {width:166px;}
.services li.last{ border-right: solid 1px #c8c8c8}
.services li a{ float:left; text-align: center; font-weight:bold; font-size:14px; line-height:14px ; color:#008f97; text-transform:uppercase; text-decoration:none}
.services li .gap2 a{line-height:16px;}
.gap0{ margin:0 0 0 30px; padding:5px 0 11px 0}
.gap1{ margin:0 0 0 30px; padding:5px 0 11px 0}
.gapEtudier{ margin:0px 0 0 41px; padding:5px 0 11px 0}
.gapEnt{ margin:3px 0 0 26px; padding:5px 0 12px 0}
.gap2{margin:0 0 0 24px;padding:6px 0 8px 0}
.gap3{margin:-3px 0 0 21px;padding:5px 0 11px 0}
.gap4{margin:-4px 0 0 34px;padding:5px 0 11px 0}
.services li a .spacer1{ margin:0}


#body_container{ float:left; width:100%; padding:0;}
.left_container{ float:left; width:1000px; min-height: 700px; height: auto; background-color: white; }
.menu{ float:left; width:155px; background-color: white;}
.menu img{ float:left}
.content_container{ float:left; width:800px; padding: 25px 10px 0 10px; margin:0 0 0 10px; }
/*Modif FP 25/09 .content_container ul { margin-left: 40px; }*/
.content_container .marches tr td { padding:5px;}
/*.content_container h1{ font-size:30px; line-height:30px; color:#ea5b0c;font-family: 'Yanone Kaffeesatz', sans-serif; padding: 0 0 7px 12px; border-bottom: solid 1px #dbdbdb;margin: -7px 0 0;font-weight: normal;}*/
.content_container h1{float:left; width:100%; font-family: 'Yanone Kaffeesatz', sans-serif; font-size:26px; line-height:22px; color:#008992; border-bottom:1px solid #d8d7d7; padding-bottom:10px; margin-bottom:7px; font-weight: normal;}
.content_container h1 span{font-size:36px; line-height:36px; color:#008f97;}

/* Pages entreprendre */
.middle_container.accueil_box{ float:right; width:779px; margin:0 0 20px 0; padding-bottom:0}
.middle_container.last { margin-bottom:0;}

.middle_container .row_outer{ float:left; width:100%; clear:both; *margin:20px 0 0 0}
.middle_container .btn_row{ float:right; margin:0 20px 0 0}
.middle_container .btn{ float:left; height:23px; padding:7px 11px 0 25px; background:#1793c1 url(../images/white_arrow.png) no-repeat 11px center; font-size:14px; font-weight:bold; font-family:Arial, Helvetica, sans-serif; border-radius:3px; color:#fff; margin:0 0 0 10px;behavior:url(PIE.htc); position:relative}
.middle_container .btn:hover{ text-decoration:underline}

/* DELIBS */

.content_container.delibs h1{ font-size:30px; line-height:30px; color:#008f97;font-family: 'Yanone Kaffeesatz', sans-serif; padding: 0 0 7px 0; border-bottom: solid 1px #dbdbdb;margin: -7px 0 0;font-weight: normal;}
.content_container.delibs h2{ font-size:24px; line-height:30px; color:#008f97;font-family: 'Yanone Kaffeesatz', sans-serif; padding: 0 0 7px 0; margin: -7px 0 0;font-weight: normal;}
.content_container.delibs p{font-size:14px; margin:15px 0;}

.webtv-titre { font-size:16px; margin-bottom:7px; width:370px}
.webtv-sstitre { font-size:14px; margin-bottom:7px; width:370px}

#recherche_marches,
#rechercheDelib {
	/*background : url(img/form.png) no-repeat transparent;*/
	background: #008f97;
	border-radius: 3px;
	height:295px;
	padding : 3px 15px;
	text-align:center;
}

#recherche_marches span,
#rechercheDelib span {
	font-size : 30px;
	color : #FFF;
	font-family: 'Yanone Kaffeesatz', sans-serif;
}
#rechercheDelib p {
	font-size : 14px;
	color : #FFF;
	padding-bottom:5px;
	margin: 5px 0;
	border-bottom:solid 1px #FFF;
	width:567px;
	margin-left:95px;
}
.table_delib {
	font-size : 14px;
	color : #FFF;
	padding:7px;
	padding-top:7px;
}

#recherche_marches select,
#rechercheDelib input , #rechercheDelib select {
	margin : 7px 0;
	height:20px;
	border : solid 1px #d0d5d5;
	margin-right : 9px;
	width : 260px;
	float : left;
}
#rechercheDelib input.dateDelib {
	width : 90px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	color:#333;
	font-weight:normal;
}
label.date {
	background:url(img/cal.png) center bottom no-repeat;
	width:26px;
	height:22px;
	display:block;
	float:left;
	margin-top:8px;
	margin-right:14px;
}

#form_marches button,
#rechercheDelib button {
	color : #FFF;
	font-size : 14px;
	font-weight:bold;
	width : 200px;
	height:34px;
	line-height:34px;
	background:url(/common/images/rechercher.jpg) no-repeat;
	border : 0px solid;
	cursor : pointer;
	margin-top:5px;
}
#form_marches button {
	margin-right: -200px;
}
#recherche_marches {
	margin-top: 40px;
	margin-bottom: 30px;
	height: 200px;
}
#form_marches {
	margin-top: 30px;
	width: 600px;
	color: #fff;
}
#form_marches label {
	float: left;
	line-height: 30px;
	margin-left: 100px;
}
#form_marches select {
	float: right;
}

#old_publications h2,
#resultat h2 {
	font-size: 24px;
	line-height: 30px;
	color: #008f97;
	font-family: 'Yanone Kaffeesatz', sans-serif;
	padding: 0 0 7px 0;
	margin: -7px 0 0;
	font-weight: normal;
}
#resultat .objet {
	width: 400px;
}
#resultat .link_demat {
	margin-top: 3px;
	font-weight: normal;
	font-size: 13px;
	text-decoration: underline;
}
#resultat .link_demat a {
	color: #008f97;
}
#resultat .acheteur {
	width: 180px;
}
#resultat .date_en_ligne,
#resultat .date_response {
	width: 120px;
}
#resultat td {
	font-size: 12px;
}
#old_publications {
	margin-top: 40px;
	margin-bottom: 40px;
}
#old_publications a {
	font-size: 14px;
	line-height: 20px;
	color: #000;
}
#result_details a {
	color: #000;
}
#results_data .marginBottom {
	clear: both;
	width: 100%;
	height: 20px;
}
#result_details {
	font-size: 12px;
}
#result_details .leftCol,
#result_details .rightCol {
	float: left;
	padding: 10px 0 10px 5px;
}
#result_details .leftCol {
	width: 170px;
	font-weight: bold;
}
#result_details .rightCol {
	width: 620px;
}
#link_back {
	padding-top: 20px;
	text-align: center;
}


#resultat{ margin:25px 0; padding:0 7px;}
#resultat table { border:solid 1px #d0d5d5; border-collapse:collapse;}
#resultat table td{padding:10px 15px; border:solid 1px #d0d5d5; font-size:14px; color:#3a3a3a;}
#resultat table td a { color:#3a3a3a; font-weight:bold; text-decoration:none;}
#resultat table td a:hover { text-decoration:underline;}
#resultat table td.resultat-Titre { font-size: 21px; color: #008f97; font-family: 'Yanone Kaffeesatz', sans-serif;}
#resultat table td.resultat-Titre a { color: #008f97; text-decoration:none; font-weight:normal;}
#resultat table td.resultat-Titre a:hover { color: #008f97; text-decoration:underline; font-weight:normal;}

#pagination { float:right; padding-right:3px; margin-bottom:10px;}
#pagination p { float:left; font-size:18px; color:#fff; text-align:center; margin: 0 4px 0 0;}
#pagination div.page {display:block; float:left; font-size:14px; font-weight:bold; padding-top:5px; margin-right:5px;}
#pagination p a { width:31px; height:28px; background-color:#008f97; padding-top:3px; display:block; color:#fff; text-decoration:none; font-weight:normal;}
#pagination p a:hover { width:31px; height:28px; background-color:#008f97; padding-top:3px; display:block; color:#fff; text-decoration:underline; font-weight:normal;}
#pagination p a.active { background-color:#b2e202; padding-top:3px; display:block; width:31px; height:28px;}

.plan-site { width:225px; margin:0 20px; float:left}
.plan-site h2 {font-size: 26px; color: #1593c3; font-family: 'Yanone Kaffeesatz', sans-serif; margin-bottom:10px; font-weight:normal}
.plan-site ul {line-height:22px}
.plan-site ul li, .plan-site ul li a { color:#353535; font-weight:bold; font-size:15px; text-decoration:none;}
.plan-site ul li a:hover { text-decoration:underline}
.plan-site ul li ul {padding-left:28px; line-height:22px}
.plan-site ul li ul li, .plan-site ul li ul li a { color:#353535; font-size:15px; text-decoration:none; font-weight:normal; }
.plan-site ul li ul li a:hover { text-decoration:underline}

.top_col{ width:100%; padding:24px 0 0 0; margin:0 0 32px 0;}
.top_col a{ color: black;}
.top_col .imgleft img{ float:left; margin:0 22px 0 17px; width: 200px; }
.top_col strong{ font-size:14px; line-height:18px}
.top_col p{font-size:14px; line-height:18px}
.top_col p.right img{float:right; margin: 0 10px;}
.top_col p.left img{float:left; margin: 0 10px;}

.top_col .liste{clear: both;}
.top_col .ssliste{margin: 5px 0 0 20px;}
.top_col .ssliste a{	color: #000080; text-decoration: underline}

.right_container{ float:left; width:255px; padding:0 0 14px 0}

.right_top_box{ float:left; width:100% ; background:#007982 url(../images/right_top_box_bg.jpg) repeat-x 0 0; border-radius:6px;behavior:url(PIE.htc); position:relative;}
.right_top_box h4{ font-size:30px; width:227px; margin:2px 0 0 15px; font-weight:normal; color:#fff; line-height:34px;font-family: 'Yanone Kaffeesatz', sans-serif; text-align:center; background:url(../images/border_bottom.jpg) repeat-x 8px bottom;padding: 0 0 2px;}
.right_top_box h4 a{ color:#fff; text-decoration:none}
.right_top_box_img{ float:left; margin:15px 0 0 11px; padding:0 0 13px 0}
.right_top_box p{ margin:4px 0 0 15px; font-size:14px; line-height:18px; color:#fff; }

.right_middle_box{ float:left; width:100%; background:#007983 url(../images/right_middle_box_bg.jpg) repeat-x; margin:13px 0 0 0; border-radius:6px;behavior:url(PIE.htc); position:relative;}
.right_middle_box ul{ float:left; width:100%}
.right_middle_box ul li{ float:left; width:244px; margin:0 0 0 6px; background:url(../images/border_bottom.jpg) repeat-x 0 0}
.right_middle_box ul li.first{ background:none}
.right_middle_box ul li a{ float:left; width:188px; padding:5px 0 13px 61px;font-family: 'Yanone Kaffeesatz', sans-serif; font-size:24px; line-height:26px; color:#fff; text-decoration:none}
.right_middle_box ul li a:hover{ text-decoration:underline}
.right_middle_box ul li a.top{ background:url(../images/icon1.png) no-repeat 24px 9px; padding-bottom: 5px;padding-top: 9px;}
.right_middle_box ul li a.bottom{ background:url(../images/icon2.png) no-repeat 24px 11px;padding-top: 9px;}

.right_bottom_box{ float:left; width:100%; background:#008f97; margin:11px 0 0 0; border-radius:6px;behavior:url(PIE.htc); position:relative;}
.right_bottom_box h2{ font-size:30px; line-height:32px; font-weight:normal; color:#fff; text-align:center;font-family: 'Yanone Kaffeesatz', sans-serif;margin: 2px 0 0;}
.right_bottom_box h2 a{ color:#fff; text-decoration:none}
.right_bottom_box p{ font-size:12px; color:#fff; text-align:center; margin:2px 0 0 0}
.right_bottom_box .list{ float:left; width:84%; background:url(../images/list_bg.png) no-repeat 0 0; margin: 12px 0 0 15px; padding: 2px 5px 0;}
.right_bottom_box .list li{ float:left; width:100%; background:url(../images/list_li.png) repeat-x 0 0;}
.right_bottom_box .list li.first{ background:none}
.right_bottom_box .list li a{ float:left;color:#fff; font-size:14px; width:100%; text-align:center; line-height:32px; text-decoration:none}
.right_bottom_box .list li a:hover{ text-decoration:underline}
.right_bottom_box .list li a.concert{ background:url(../images/concert.png) no-repeat 3px center}
.right_bottom_box .list li a.loisir{background:url(../images/loisir.png) no-repeat 3px 7px}
.right_bottom_box .list li a.conf{background:url(../images/conf.png) no-repeat 3px 7px}
.right_bottom_box .list li a.jeunes{background:url(../images/jeunes.png) no-repeat 3px 7px}
.right_bottom_box .list li a.expo{background:url(../images/expo.png) no-repeat 3px 4px}
.right_bottom_box .list li a.sport{background:url(../images/sport.png) no-repeat 3px 7px}
.border{ float:left; width:229px; height:2px; background:url(../images/border_bottom.jpg) repeat-x 0 0;margin: 17px 0 12px 12px;}
.gap5{ margin-top:9px}
.details_form{ float:left; width:204px; margin: 0 0 0 25px;}
.details_form h2{ font-size:24px; line-height:26px;padding: 0 0 9px; color:#fff;font-family: 'Yanone Kaffeesatz', sans-serif; text-align:center}
.details_form .row1{ float:left; width:100%; padding:0 0 10px 0}
.details_form .row1 span{ float:left; width:202px ;border: solid 1px #d0d5d5; background:#fff }
.details_form .row1 .input{ float:left; width:188px; padding:2px 5px;height:16px; font-size:13px; border: solid 1px #fff}
.details_form .row1 .sec{ float:left; width:94px ;border: solid 1px #d0d5d5; background:#fff;margin:0 12px 0 0 }
.details_form .row1 .input1{ float:left; width:80px; padding:2px 5px; font-size:12px; border: solid 1px #fff; height:16px; position: relative; z-index: 100000;}
.details_form .row1 .last{ margin:0}
.details_form .row1 .select1{ float:left; width:100%; height:20px;}
.details_form .button{ float:left; width:100%; cursor:pointer; background:url(../images/button.png) no-repeat 0 0; border:none; height:34px; color:#fff; font-weight:bold; font-family:Arial, Helvetica, sans-serif; font-size:14px}
.event_box{ float:left; width:100%; height:285px;}
.event_box h2{font-size:24px; line-height:26px;padding: 0 0 9px; color:#fff;font-family: 'Yanone Kaffeesatz', sans-serif; text-align:center; float:left; width:100%}
.event_box ul{ float:left; width:243px; }
.event_box ul li{ float:left; width:239px; background:#fff; margin:0 0 10px 5px; border-radius:7px; padding:8px 0 25px 4px ;behavior:url(PIE.htc); position:relative; }
.event_box ul li a{ font-size:12px; line-height:14px; color:#000; text-decoration:none}
.event_box ul li a span{ font-size:12px; line-height:16px; color:#000; display:block}
.event_box ul li a span.green{ font-size:13px; line-height:16px; font-weight:bold; color:#008f97}
.event_box ul li a span.black{ font-size:12px; font-weight:bold; line-height:16px; color:#000}

.footer{ float:left; width:100%;  text-align: center; min-width:1001px}
.footer_top{ float:left; width:100%; background:#000; padding:13px 0 14px 0}
.footer_links{ float:left; margin:0 0 0 300px; text-align: center}
.footer_links li{ float:left; padding:0 12px 0 0; margin:0 0 0 8px; background:url(../images/li_sep.png) no-repeat right 0}
.footer_links li a{ font-size:15px; color:#fff; line-height:18px; text-decoration:none;}
.footer_links li a:hover{ text-decoration:underline}
.footer_links li.last{ background:none}

.footer_bottom{ float:left; width:100%; text-align: center; background:#fff; padding:9px 0 11px 0}
.footer_bottom p{ font-family:Verdana, Geneva, sans-serif;font-size:10px; line-height:14px; color:#a1a1a1}
.footer_bottom a{ font-family:Verdana, Geneva, sans-serif;font-size:10px; line-height:14px; color:#a1a1a1; text-decoration:none}
.footer_bottom a:hover{ text-decoration:underline}
.right_link_footer{ float:right; margin:8px 104px 0 0}
.carousel{ float:left; width:100%;}

/* contrat de ville */
.bandeau { width:760px; background-color:#1793c1; padding:60px 0 5px 20px; border-top-left-radius:6px; border-top-right-radius:6px;}
.bandeau h2 {font-size: 60px; color: #ffffff; font-family: 'Yanone Kaffeesatz', sans-serif; font-weight:normal; margin:0; padding:0;}
.bandeau .deconnect {float:right; position:relative; top:-40px; left:-14px;}
.bandeau .deconnect a {border-radius:6px; padding:8px; background-color:#1584ad; color:#ffffff; text-decoration:none; font-family:Arial, Helvetica, sans-serif; font-size:12px; }
.bandeau .deconnect a:hover {background-color:#1aa4d7;}
.nav_contrat { width:780px; background-color:#e1e1e1; padding:10px 0;}
.nav_contrat .bt1 {font-family: 'Yanone Kaffeesatz', sans-serif; font-weight:normal; color: #1793c1; font-size: 20px; height:50px; border-right:solid 1px #1793c1; width:220px; margin-left:30px; line-height:50px; float:left;}
.nav_contrat .bt1 a{ color: #1793c1; text-decoration:none;}
.nav_contrat .bt1 a:hover{ color: #1793c1; text-decoration:underline;}
.nav_contrat .bt1.bt2 {margin-left:40px; width:220px;}
.nav_contrat .bt1 img { float:left;}
.nav_contrat .bt1.last {border-right:none; width:200px;}
.clearer { clear:both}

.identification { margin:20px; width:730px}
.identification .colGauche {font-family:Arial, Helvetica, sans-serif; font-size:18px; color:#454443; width:365px; margin-right:25px; float:left;}
.identification .colGauche span {font-size:16px;}
.identification .colGauche span a {color:#454443; text-decoration:underline;}
.identification .colGauche span a:hover {color:#454443; text-decoration:none;}
.identification .colDroite { width:260px; height:300px; float:right; background-color:#e1e1e1; border-radius:6px;}
.identification .colDroite .over_top {background-color:#ffffff; font-size:14px; text-align:center; padding-bottom:10px;}
.identification .colDroite .top { text-align:center; height:50px; font-size:18px; color:#ffffff; background-color:#0a4256; border-top-left-radius:6px; border-top-right-radius:6px; line-height:50px; }
.identification .colDroite .formulaire { margin-top:12px; margin-bottom:20px; text-align:center;}
.identification .colDroite .formulaire input { width:210px; height:50px; border-radius:6px; border: solid 1px #dae1e9; font-family:Arial, Helvetica, sans-serif; font-size:14px; color:#454443; padding:0 18px; background:url(../images/ico-login.jpg) no-repeat 210px 15px #ffffff; margin-bottom:12px;}
.identification .colDroite .formulaire input.pwd { background:url(../images/ico-pwd.jpg) no-repeat 210px 15px #ffffff;}
.identification .colDroite .formulaire p a {font-family:Arial, Helvetica, sans-serif; font-size:14px; color:#0a4256; text-decoration:none;}
.identification .colDroite .formulaire p a:hover {color:#0a4256; text-decoration:underline;}
.identification .colDroite .formulaire input[type="submit"] { background:url(../images/bt-submit.jpg) no-repeat; cursor:pointer; width:158px; height:41px; margin-top:14px;}
.identification .colDroite .formulaire input[type="submit"]:hover { background:url(../images/bt-submit_on.jpg) no-repeat;}


.liste_docs {margin:30px 20px;}
.liste_docs h3 {color: #ffffff; font-family:Arial, Helvetica, sans-serif; font-size:18px; height:50px; line-height:50px; text-transform:uppercase; font-weight:normal; border-radius:6px; background-color:#1793c1; margin:0; padding:0 10px;}
.liste_docs h3 img {float:left;}
.liste_docs h3.bt1 { width:330px; margin-bottom:3px}
.liste_docs h3.bt2 { width:270px; margin-bottom:3px}
.liste_docs h3.bt3 { width:200px; margin-bottom:3px}
.liste_docs .back { background:url(../images/contrat-bg.jpg) repeat-y left top; padding-bottom:15px;}
.bt-rubriques {font-family:Arial, Helvetica, sans-serif; font-size:18px; font-weight:bold; height:38px; line-height:38px; color:#1793c1; padding-top:15px;}
.bt-rubriques img {float:left;}
.liste_docs .back2 { background:url(../images/contrat-bg.jpg) repeat-y left top;}
.liste_docs .back3 { background:url(../images/contrat-bg.jpg) repeat-y left top; padding-top:17px; padding-bottom:15px;}
.liste_docs ul { width:100%; margin-left:51px;}
.liste_docs ul li {background:url(../images/puce-liste.jpg) no-repeat 0 0; padding-left:23px; font-family:Arial, Helvetica, sans-serif; font-size:14px; font-weight:bold; color:#13171b; margin-bottom:9px;}
.liste_docs ul li a {color:#13171b; text-decoration:none;}
.liste_docs ul li a:hover {color:#13171b; text-decoration:underline;}
.liste_docs ul li span { font-size:12px; color:#1793c1; font-weight:normal}
.liste_docs ul li p { font-size:12px; color:#656565; font-weight:normal; font-style:italic; margin-top:5px; margin-left:2px;}
.liste_docs ul li ul { margin:8px 0 0 0;}
.liste_docs ul li ul li {background:url(../images/puce-liste2.jpg) no-repeat 4px 5px; padding-left:12px; font-family:Arial, Helvetica, sans-serif; font-size:12px; font-weight:normal; color:#13171b;} 