body{
    margin:0;
    overflow:hidden;
}
canvas{
	-webkit-tap-highlight-color:rgba(0,0,0,0);
	cursor:grab;
	cursor:-webkit-grab;
	cursor:-moz-grab;
}
canvas:active{
	cursor:grabbing;
	cursor:-webkit-grabbing;
	cursor:-moz-grabbing;
}
button{
	cursor:pointer;
	outline:none;
	background:#111;
	border:none;
	color:#FFB300;
	padding:0;
}
button:active{
	outline:none;
	-webkit-tap-highlight-color:rgba(0,0,0,0);
}

#top-interface{
	position: absolute;
	top:0;
	width:100%;
	text-align: center;
}
#top-interface div{
	box-shadow: 0 0 20px #000;
	display:inline-block;
	font-size:0;
}
#compass-bttn{
	display: inline-block;
	width:50px;height:50px;
}
#compass{
	width:10px;
	height:10px;
	border-radius:50%;
	border:#aaa;
	background:#eee;
	position: absolute;
	margin:-5px 0 0 -5px;
}
#compass::before{
	content:' ';
	border:5px solid transparent;
	border-top:15px solid transparent;
	border-bottom:15px solid #eee;
	margin-top:-30px;
	position:absolute;
	left:0;
}
#compass::after{
	content:' ';
	border:5px solid transparent;
	border-bottom:15px solid transparent;
	border-top:15px solid #f00;
	margin-top:10px;
	position:absolute;
	left:0;
}

/*switchbuttons*/
	.sb{
		height:50px;
		width:100px;
		position: relative;
		padding:0;
	}
	.sb p {
		margin:0;
	}
	.sb > p {
		text-transform: uppercase;
		position: absolute;
		top:0;
		margin-top:5px;
		width:100%;
	}
	.sb-cont{
		display: inline;
		position: absolute;
		width:90%;
		left:5%;
	}
	.sb-cont p{
		display: inline-block;
		width:50%;
		font-size:16px;
		text-transform: uppercase;
		color:#000;
		padding:2px 0 1px 0;
		box-shadow: 0 0 5px #000 inset;
		text-shadow: 0 0 1px;
	}
	.sb-on{
		background:#5A5;
		border-radius: 110px 0 0 110px;
	}
	.sb-off{
		background:#F77;
		border-radius: 0 110px 110px 0;
	}
	.sb-cont span{
		border-radius:100px;
		width:50px;height:19px;
		background:#666;
		position: absolute;
		left:0;
		transition:margin-left 300ms linear;
		border:solid 1px #444;
		box-shadow: 0 0 5px #000;
	}
	.sb-cont span:after, .sb-cont span:before{
		content:' ';
		width:2px;height:14px;
		position: absolute;
		margin-top:-8px;
		top:50%;
		background:#444;
		margin-left:3px;
	}
	.sb-cont span:before{
		margin-left: -3px;
	}
	.sb-cont span.on{
		margin-left:38px;
	}
	.sb-cont span.off{
		margin-left:0px;
	}


/*slider*/
	#UI-slider-container{
		overflow:hidden;
		padding:5px 0;
		bottom:0;
		background:#000;
		width:55%;
		position: absolute;
		left:22%;
		text-align: center;
		box-shadow: 0 0 20px #000;
	}
	#UI-slider{
		height:100%;
		vertical-align:middle;
		width:300%;
		display:inline-block;
		margin-left:0px;
		transition:margin-left 800ms ease;
	}
	.UI-slider-valign{
		height:100%;display:inline-block;
		vertical-align:middle;
	}
	.UI-slider-buttons{
		position:absolute;
		top:50%;
		height:100px;
		width:43px;
		margin-top:-50px;
		box-shadow: 0 0 20px #000;
	}
	#UI-button-before{
		left:0;
	}
	#UI-button-after{
		right:0;
	}
	#UI-button-before::after,#UI-button-after::after{
		content:' ';
		border-top:solid 16px transparent;
		border-bottom:solid 16px transparent;
		border-right:solid 32px #FFB300;
		position:absolute;
		margin-left:-16px;
		margin-top:-16px;
	}
	#UI-button-after::after{
		border-right:none;
		border-left:solid 33px #FFB300;
	}
	#UI-button-after.UI-button-inactive::after{
		border-left:solid 33px #FFB300;
	}
	.slider-step{
		padding:0 10px;
		width:calc(100%/3 - 20px);
		margin:0px;
		display:inline-block;
		vertical-align:middle;
		color:#FFB300;
	}
	.slider-stepDate{
		width:20%;
		display:inline-block;
		vertical-align:middle;
		font:normal 20px Arial;
	}
	.slider-stepMain{
		width:60%;
		max-width:60%;
		min-width:60%;
		display:inline-block;
		vertical-align:middle;
		overflow:hidden;
	}
	.slider-stepTitle{
		margin:0;
		padding:3px;
		font:normal 15px Arial;
		text-transform: uppercase;
	}
	.slider-stepDescription{
		font:normal 13px Arial;
		margin:3px 0;
	}


/*infos displayer*/
	.greyScreen {
		position:absolute;
		background:rgba(0,0,0,.2);
		top:0;
		width:100%;height:100%;

	}
	.greyScreen div.display-infos{
		width:500px;height:340px;
		opacity:1;
		top:calc(50% - 170px);
		left:calc(50% - 250px);
		animation:display-infos-animation 500ms ease;
		position:relative;
		background:#444;
	}
	.greyScreen button{
		border:solid 1px wheat;
		border-radius:2px;
		background:none;
		padding:5px;
		width:100px;
		letter-spacing:0px;
		transition:all 90ms ease;
		cursor:pointer;
	}
	.greyScreen button:hover{
		letter-spacing:1.5px;
		background:#222;
	}
	.greyScreen button.display-infos-button{
		position:absolute;
		width:100px;
		bottom:30px;left:calc(50% - 50px);
		display:block;
		cursor:pointer;
	}
	@keyframes display-infos-animation{
		0%{opacity:0;}
		100%{opacity:1;}
	}

@media ( max-width : 1035px ) {
	#UI-slider-container {
		width:100%;
		left:0;
	}
}